h1, h2 {
  text-align: center;
  color: #222;
}

.hero {
  text-align: center;
  padding: 20px;
}

.hero img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.section {
  background-color: #fffafc;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  border: 1px solid #ffc0cb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px){
  body{background-color:rgb(255, 201, 248);}
}

.grid{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* justify-content: space-around; */
  gap: 15px;
  flex-wrap:wrap;
}

.grid div{
  
  background-color: rgb(255, 182, 182)
  border-radious; 100px;
  padding: 10px;
  min-width: 80 px;
}